@import "../abstract/variables";
@import "../module/connexion_form";

body{
    border: 1px solid black;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: -webkit-linear-gradient(left, $gradient-color-a 0%, $gradient-color-b 20%, $gradient-color-c 40%, $gradient-color-d 60%, $gradient-color-e 80%, $gradient-color-f 100%);
    background: -o-linear-gradient(left, $gradient-color-a 0%, $gradient-color-b 20%, $gradient-color-c 40%, $gradient-color-d 60%, $gradient-color-e 80%, $gradient-color-f 100%);
    background: -ms-linear-gradient(left, $gradient-color-a 0%, $gradient-color-b 20%, $gradient-color-c 40%, $gradient-color-d 60%, $gradient-color-e 80%, $gradient-color-f 100%);
    background: -moz-linear-gradient(left, $gradient-color-a 0%, $gradient-color-b 20%, $gradient-color-c 40%, $gradient-color-d 60%, $gradient-color-e 80%, $gradient-color-f 100%);
    background: linear-gradient(to right, $gradient-color-a 0%, $gradient-color-b 20%, $gradient-color-c 40%, $gradient-color-d 60%, $gradient-color-e 80%, $gradient-color-f 100%);

}
