@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito", "Work Sans", "Roboto Flex", "sans-serif";
}

.heartbeat, .form__wrapper__submit {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
.scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}
.scale-in-right, .form__wrapper-signin, .form__wrapper-signup {
  -webkit-animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-6 17:0:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-in-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffc0cb;
}
::-webkit-input-placeholder:hover {
  color: #F6D155;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #ffc0cb;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #ffc0cb;
}

:-moz-placeholder { /* Firefox 18- */
  color: #ffc0cb;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0rem;
  padding-right: 0px;
  width: 80vw;
  height: 500px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.185);
  box-shadow: 1px 3px 12px 2px rgba(14, 13, 13, 0.5);
  backdrop-filter: blur(20px);
  overflow: hidden;
  z-index: 5;
}
.form__image {
  display: block;
  margin-top: 0.5rem;
  width: 38vw;
  height: 100%;
  grid-area: 1/1/3/2;
  object-fit: contain;
  object-position: 5px 0px;
}
.form__switch {
  background-color: #343148;
  font-size: 1.2em;
  grid-area: 1/2/2/3;
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
.form__switch #sign_up {
  display: none;
  color: #F6D155;
}
.form__switch #sign_in {
  display: none;
}
.form__wrapper {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.form__wrapper__data {
  color: white;
  background-color: transparent;
  border-style: none;
  border-bottom: 2px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form__wrapper__data:focus {
  outline: none;
  border-color: #F6D155;
}
.form__wrapper__submit {
  width: 100px;
  padding: 5px 0px;
  margin-top: 10px;
  margin-top: 10px;
  color: black;
  background-color: #F6D155;
  font-size: 1em;
  text-transform: capitalize;
  border-style: none;
  border-radius: 5px;
}
.form__wrapper__submit:hover {
  cursor: pointer;
  animation-play-state: paused;
  background-color: #ffb90f;
}
.form__wrapper-signup {
  display: none;
  height: 450px;
}
.form__wrapper-signin {
  height: 450px;
}
.form__wrapper label {
  color: white;
  text-transform: capitalize;
  margin-top: 5px;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  gap: 25px;
  margin-bottom: 0px;
  background-color: #343148;
  padding-left: 10px;
}
.form label[for=sign_up] {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4705882353);
}
.form label[for=sign_up]:hover {
  color: white;
}
.form label[for=sign_in] {
  cursor: pointer;
  color: #F6D155;
}
.form label[for=sign_in]:hover {
  color: white;
}

#copyright {
  position: fixed;
  bottom: 2px;
  opacity: 0.7;
  font-size: 12px;
  z-index: 0;
}
#copyright img {
  width: 25px;
}

#canvas {
  position: absolute;
  filter: url("#liquid");
}

svg {
  position: fixed;
}

body {
  border: 1px solid black;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(left, #0099f7 0%, #307fc9 20%, #60659b 40%, #914b6e 60%, #c13140 80%, rgba(245, 21, 17, 0.9098039216) 100%);
  background: -o-linear-gradient(left, #0099f7 0%, #307fc9 20%, #60659b 40%, #914b6e 60%, #c13140 80%, rgba(245, 21, 17, 0.9098039216) 100%);
  background: -ms-linear-gradient(left, #0099f7 0%, #307fc9 20%, #60659b 40%, #914b6e 60%, #c13140 80%, rgba(245, 21, 17, 0.9098039216) 100%);
  background: -moz-linear-gradient(left, #0099f7 0%, #307fc9 20%, #60659b 40%, #914b6e 60%, #c13140 80%, rgba(245, 21, 17, 0.9098039216) 100%);
  background: linear-gradient(to right, #0099f7 0%, #307fc9 20%, #60659b 40%, #914b6e 60%, #c13140 80%, rgba(245, 21, 17, 0.9098039216) 100%);
}

@media screen and (min-width: 200px) and (max-width: 550px) {
  .form {
    grid-template-columns: 0% 100%;
  }
  .form__image {
    display: block;
    width: 100vw;
    object-position: -5px 45px;
    opacity: 0.07;
    z-index: 0;
  }
  .form__switch {
    z-index: 2;
  }
}
@media screen and (min-width: 550px) and (max-width: 850px) {
  .form {
    grid-template-columns: 35% 65%;
  }
  .form__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

/*# sourceMappingURL=connexion.css.map */
