.disable-select {
        user-select: none; /* Disable selection of text */
        -webkit-user-drag: none; /* Disable dragging of elements in Safari */
        -webkit-touch-callout: none; /* Disable the long-press context menu on iOS */
}
.up{
        // -webkit-animation: mistake 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: mistake 0.1s ease-in-out both;
}    

@-webkit-keyframes mistake{
        from{
                bottom:-10px;
        }to{
                bottom: 30px;
        }
}
@keyframes mistake {
        from{
                bottom:-10px;
        }to{
                bottom: 30px;
        }
}

.heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}


@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

@keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

.scale-in-bottom {
        -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes scale-in-bottom {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }
}

@keyframes scale-in-bottom {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }
}

.scale-in-right {
        -webkit-animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-right {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                opacity: 1;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                opacity: 1;
        }
}

@keyframes scale-in-right {
        0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                opacity: 1;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
                opacity: 1;
        }
}

.shake-vertical {
        -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-vertical {

        0%,
        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateY(8px);
                transform: translateY(8px);
        }

        80% {
                -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
        }

        90% {
                -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
        }
}

@keyframes shake-vertical {

        0%,
        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateY(8px);
                transform: translateY(8px);
        }

        80% {
                -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
        }

        90% {
                -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
        }
}

// avatar modal
.modal {
        -webkit-animation: modal 0.2s linear alternate both;
        animation: modal 0.2s linear alternate both;
}


@-webkit-keyframes modal {
        from {
                -webkit-transform: scale(0.1);
                transform: scale(0.1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        }
        to{
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        }

}

@keyframes modal {
        from {
                -webkit-transform: scale(0.1);
                transform: scale(0.1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        }
        to{
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        }

}
