@mixin rotate{
    .rotate-reverse {
        animation-name: spin;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: forwards; 
        -webkit-animation-name: spin;
        -webkit-animation-duration: 3s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
        }
        to {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
        }
      }
    
}